/**
 * styles.css
 */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark */

:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#333, #EEE);
  font-size: 1.25rem;
  font-family: 'Noto Sans', sans-serif;
  background-color: light-dark(#FFF, #000);
  color-scheme: light;
}

p, ol, ul {
  margin: 0 0 1.3rem;
}

div.box {
  margin-bottom: 1.3rem;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3,
h4, h5, h6 {
  margin-bottom: 1rem;
}

#page {
  margin: 2rem 0 3rem;
}

header {
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 700px;
}

.box {
  padding: 1rem 1.25rem;
  border: 1px solid light-dark(#AAA, #DDD);;
}

[lang="ar"],
[lang="he"] {
  direction: rtl;
  text-alight: right;
}
