/**
 * styles.css
 */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark */

:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#333, #EEE);
  font-size: 1.25rem;
  background-color: light-dark(#FFF, #000);
  color-scheme: dark;
}

p {
  margin: 0 0 1.3rem;
}

h1, h2, h3,
h4, h5, h6 {
  margin-bottom: 1rem;
}

header {
  margin: 2rem 0;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 700px;
}
